<head>
  <title>Listify </title>
  <link rel='stylesheet' href='/normalize.css'>
  <link rel='stylesheet' href='/skeleton.css'>
  <link rel='stylesheet' href='/styles.css'>
  <link rel='stylesheet' href='/bootstrap.css'>
  <link rel='stylesheet' href='/react-datepicker.css'>
  
</head>
<body>
  <div class='container'>
    <div id='app'>
      <%- reactOutput %>
    </div>
  </div>
  <script src='app.js'> </script>
</body>
