.strikethrough {
  text-decoration: line-through;
  color: slategrey;
}
html {
  color: darkslategray;
  background-color: #fffefd;
}
body{
  padding-top: 3rem;
}

.columns{
  text-align: right;
}

h1 {
  text-decoration: underline;
  text-decoration-style: wavy;
}
.heading {
  padding-top:75px;
}
.emailChecked {
  margin-top: 1rem;
  padding-top: 1rem;
}
a {
  color:black !important;
}
a img{
  margin-top: -10px;
}
.blue {
  color: #5ee6ed
}
.amber {
  color: #FFCC00;
  font-weight: bold;
}
.green {
  color: #66FF33;
  font-weight: bold;
}
.red {
  color: #ff2929;
  font-weight: bold;
}
